/// <reference path="_mixins.scss" />

/*
=============================================================================================================

    Booking section styles

=============================================================================================================
*/
#booking {
    padding-top: 90px;

    .barber-image {
        img {
            height: 300px;

            @include screen('mobile'){
                margin-bottom: 30px;
            }
        }
    }

    .barber-text {
        h2 {
            @include text-font;
            font-size: 24px;
            letter-spacing: -0.3px;
            color: #373C42;
            font-weight: 700;
            text-align: center;
        }

        p {
            @include text-font;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 3.6px;
            line-height: 30px;
            color: #666666;
            text-align: center;
        }
    }
}
