/// <reference path="_mixins.scss" />

/*
=============================================================================================================

    Booking section styles

=============================================================================================================
*/
#booking{
    padding-top: 90px;
}

/* Override fullcalendar */
.fc-day-top{
    vertical-align: middle !important;
    text-align: center;
    .fc-day-number{

        float: none !important;
    }
}