#contact{
    padding-top: 90px;
    padding-bottom: 10px;

    .form-control{
        border: 0;
        border-bottom: 2px solid $brand-color;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
    }

    textarea{
        height: inherit;
        resize: none;
    }

    .btn-send{
        border-color: $brand-color;
        background: transparent;
        color: $brand-color;

        &:hover{
            background-color: $brand-color;
            color: #fff;
        }
    }

    #contactBox{
        padding: 10px;
        margin-bottom: 30px;
    }
}

#address{
    padding-top: 30px;
    padding-bottom: 10px;
    h1{
        @include screen('mobile'){
            padding-top: 30px;
        }
    }
    address{
        padding: 10px;
        @include text-font;
        p{
            margin-bottom: 0;
        }
    }
}