#contact{
    padding-top: 90px;
    padding-bottom: 10px;

    .form-control{
        border: 0;
        border-bottom: 2px solid $brand-color;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
    }

    textarea{
        height: inherit;
        resize: none;
    }

    .btn-send{
        border-color: $brand-color;
        background: transparent;
        color: $brand-color;

        &:hover{
            background-color: $brand-color;
            color: #fff;
        }
    }

    address{
        padding: 10px;
        p{
            margin-bottom: 0;
        }
    }

    #contactForm{
        padding: 10px;
    }
}