/// <reference path="_mixins.scss" />
$facebook-color: #3B5998;
$instagram-color: #1D5C7F;

body,
html{
    font-size: 18px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    color: #000000;
}

.main{
    padding-top: 10rem;
    //padding-bottom: calc(10rem - 56px);
    background: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 100vh;
    padding-top: 50px;
    @include background-cover;

    @include screen('desktop'){
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }

    h1{
        @include text-font;
        font-weight: 300;
        line-height: 56px;
        font-size: 18px;
       
        @media (min-width: 768px) {
            font-size: 25px;
            letter-spacing: -0.3px;
        }
    }

    .vcenter {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);

        .btn-main{
            background: none;
            cursor: pointer;
            outline: none;
            border-color: #ffffff;
            color: #ffffff;
            overflow: hidden;
            z-index: 1;
            &:hover{
                color: #fff;
                background-color: $brand-color;
                border-color: $brand-color;
            }
        }
    }
}

/**
 * Bootstrap No-Gutter Grid
 */
 .row-no-gutter {
    margin-right: 0;
    margin-left: 0;
  }
  .row-no-gutter [class^="col-"],
  .row-no-gutter [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  .container-full {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

.section-title {
    @include header-font;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 3px;
    font-style: italic;
    color: #000000;
    text-align: center;
    margin-bottom: 45px;
  }
  .section-title:after,
  .section-title:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    border-bottom: 1px solid #000000;
    margin: 0 14px 4px;
  }

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255,255,255,.3);
    background-color: #222;
    p{
        @include text-font;
        font-size: 16px;
        margin: 0;
    }

    .copy{
        
    }

    .social-network {
        > li {
            > a {
                display: inline-block;
                position: relative;
                margin: 0 auto 0 auto;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                text-align: center;
                width: 50px;
                height: 50px;
                font-size: 20px;
                border: 1px solid #fff;
                &.icoFacebook{
                    &:hover{
                        background-color: $facebook-color;
                        border-color: $facebook-color;
                    }
                }

                &.icoInstagram{
                    &:hover{
                        background-color: $instagram-color;
                        border-color:$instagram-color;
                    }
                }

                &:hover{
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -ms--transform: rotate(360deg);
                    transform: rotate(360deg);
                    -webkit-transition: all 0.2s;
                    -moz-transition: all 0.2s;
                    -o-transition: all 0.2s;
                    -ms-transition: all 0.2s;
                    transition: all 0.2s;
                }

                > i {
                    margin:0;
                    line-height:50px;
                    text-align: center;
                    color: #fff;
                }
            }
        }
    }
}