/// <reference path="_mixins.scss" />

#mainNav {
    @include navigation-font;
    width: 100%;
    color: #ffff !important;
    background-color: #222;
    min-height: 42px;

    .navbar-nav {
        > li.nav-item {
            > a.nav-link {
                color: #fff;
                font-size: 16px;
                letter-spacing: 3px;
                text-transform: lowercase;
                padding: 10px 12px;
                margin: 0 6px;
                text-transform: lowercase;
                text-decoration: none;
                font-weight: 500;
            }
        }
    }

    @include screen('desktop') {
        background-color: transparent;
        border: none;

        &.navbar-shrink {
            background-color: #222;
        }
    }
}
