/// <reference path="_mixins.scss" />
$animate: all 0.2s ease-in-out;

#mainNav {
    @include navigation-font;
    width: 100%;
    color: #ffff !important;
    background-color: #222;
    min-height: 42px;

    .navbar-brand {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 3px;
        @include navigation-font;

        &:hover {
            color: $brand-header;
        }
    }

    .navbar-nav {
        .nav-item {
            a {
                color: #fff;
                font-size: 16px;
                letter-spacing: 3px;
                text-transform: lowercase;
                padding: 10px 12px;
                margin: 0 6px;
                text-transform: lowercase;
                text-decoration: none;
                font-weight: 500;
                &:hover, &:focus, &.active{
                    color: $brand-header;
                }
            }
        }
    }
}

#mainNav {
    @include screen('desktop') {
        background-color: transparent;
        border: none;

        &.navbar-shrink {
            background-color: #222;
        }

        .navbar-nav {
            .nav-item {
                a {
                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: -10px;
                        width: 0px;
                        height: 5px;
                        margin: 5px 0 0;
                        transition: $animate;
                        transition-duration: 0.75s;
                        opacity: 0;
                    }

                    &:before {
                        left: calc(50%);
                        //width: 50%;
                        background-color: $brand-header;
                    }

                    &:after {
                        right: calc(50%);
                        //width: 50%;
                        background-color: $brand-header;
                    }
                }
            }
        }
    }
}
