#services{
    padding-top: 90px;
    div[class*="col-"] {
        min-height: 300px;

        .service-container{
            :after {
                content: "";
                position: absolute;
                width: 2px;
                height: 100%;
                right: 0;
                top: 0;
                background-color: #f8f8f8;
            }

            .service-title{
                @include text-font;
                font-size: 24px;
                letter-spacing: -0.3px;
                color: #373C42;
                font-weight: 700;
                text-align: center;
                margin-top: 40px;
                margin-bottom: 30px;
            }

            .service-text{
                @include text-font;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 3.6px;
                line-height: 30px;
                color: #666666;
                text-align: center;
            }   
        }
    }
}